# See http://help.github.com/ignore-files/ for more about ignoring files.

*.env
/backend/tradebot/tradebot_config.py
/settings/django_config.py
json2sqlite.py
backend.iml
/Json2sqlite2Json.py
/tradebot/json/
/tradebot/orderbooks/

# compiled output
/build
/dist
backend/tradebot/json
backend/tradebot/orderbooks

# dependencies
/node_modules
/venv

# IDEs and editors
/tmp
/out-tsc
.project
.classpath
.c9/
/idea


# System Files
.DS_Store
Thumbs.db




/backend/tradebot/config.json
/backend/db.sqlite3
/backend/settings/db.sqlite3
/backend/settings/django_config.py
