# See http://help.github.com/ignore-files/ for more about ignoring files.

*.env
tradebot_config.py
PoloniexTradebot-0.1.py

# compiled output
/build
/dist
/venv
/json
/orderbooks

# dependencies
/node_modules

# IDEs and editors
/tmp
/out-tsc
.project
.classpath
.c9/
.settings/
/.idea

# System Files
.DS_Store
Thumbs.db
