# See http://help.github.com/ignore-files/ for more about ignoring files.

# configs
/backend/tradebot/config.json
/backend/tradebot/tradebot_config.py
/backend/settings/django_config.py

# compiled output
/build
/dist
backend/tradebot/json
backend/tradebot/orderbooks

# dependencies
/node_modules
/venv
*.env

# IDEs and editors
/backend/tradebot/tradebot.iml
/tmp
/out-tsc
.project
.classpath
.c9/
/.idea
.idea

# System Files
.DS_Store
Thumbs.db






/tradebot_config.py
/config.json
/orderbooks/
/json/
