{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tradebot</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'ang/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'ang/styles.css' %}">
</head>
<body>
<app-root>Loading...</app-root>
<a href="{% url 'home' %}">Go Home</a>
<a href="{% url 'about' %}">About This Site</a>
<script type="text/javascript" src="{% static 'ang/runtime.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/polyfills.js' %}"></script>
<script type="text/javascript" src="{% static 'ang/main.js' %}"></script>

{% csrf_token %}
<button type="submit" name="run_script">Refresh</button>

</body>
</html>
